
/* polices*/
@import url('https://fonts.cdnfonts.com/css/rojal');

body
{
    font-size: medium;
    /* font-size:10px; */
    /*width:26.2cm;*/
    min-height: 100%;

}

a
{
    text-decoration: none;
    color:black;
}

div#txt
{
    float:right;
    width:5cm;
    background-color: red;
}

h1
{
    text-align:center;
}

header h1{
    font-family: 'Rojal', sans-serif;
    font-size: 70px;
}

/* Style pour le sous-menu (nav) */
nav.secondary-menu {
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #CCCCCC; /* Ligne de séparation */
    font-size: 14px;
    text-align: center;
}

nav.secondary-menu a {
    color:#212529 ;
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 15px;
}
nav.secondary-menu a:hover{
    color: black;
    font-weight: bold;
}
#HomeTitle{
    color: black;
}
h1 img
{
    width: 50px;
}


div.button_bar
{
    background-color:Cornsilk ;
}

div.search_bar
{
    text-align:right;
    background-color:Cornsilk ;
}


div.login
{
    float:right;
    /* background-color:white; */
}

div.produit
{
    background-color:white;
    border:blue 2px solid;
    width:6cm;
    height:5.5cm;
    float:left;
    margin:1mm;
    padding:1mm;
    /* overflow-y:scroll;  */
}

main article.main_article
{
    background-color:white;
    border:green 2px solid;
    width:20cm;
    margin:auto;
    padding:1mm;
}

main article.main_article img
{
    width:100%;
}


article.breaking
{
    background-color:white;
    border:blue 2px solid;
    width:10cm;
    /*height:7cm;*/
    float:left;
    margin:1mm;
    padding:1mm;
    /* overflow-y:scroll;  */
}

article.breaking img
{
    width:100%;
}

aside
{
    float:right;
    width:10cm;
    margin:1mm;
    padding:1mm;
}

article.side
{
    background-color:white;
    border:blue 2px solid;
    width:100%;
    margin:1mm;
    padding:1mm;
}

div.produit div.formule
{
    font-weight:bold;
}

div.produit ul li
{
}

div.produit .prix
{
    background-color:lightgreen;
}

div.produit .activation
{
    background-color:yellow;
}

div.produit .in_cart
{
    /* background-color:plum; */
    color:DarkMagenta;
    font-weight:bold;
}

div.recap table
{
    border:blue 1px solid;
    margin:2px;
    padding:2px;
}

div.recap td
{
    background-color:whitesmoke;
    margin:0;
    padding:2px;
    border-width: 1px 0;
    border-color:blue;
}

div.recap td.total ,
div.recap th.total
{
    border-top: blue 2px solid;
    border-bottom: blue 2px solid;
    margin:2px;
    padding:2px;
    font-weight:bold;
}

div.recap td.prix
{
    font-family: Courier, monospace ;
    text-align: right;
}

hr
{
    clear: both;
}
.menu-link {
    color: #111111;
    font-size: 13px;
}
/* Conteneur global pour le menu et le titre */
.menu-container {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
}
header, footer
{
    text-align: center; /* alignement du texte au milieu(centre)*/
    background-color:lightcyan ;
}

footer img
{
    width: 40px;
    height: 30px;
}
